<!DOCTYPE html>
<html>
<head>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Lista de Tarefas</title>
</head>
	<body>
		<header>
			<div id="titulo">
				<h1>Lista de Tarefas</h1>
			</div>
		</header>

		<section id="container">
			<div id="opcoesContainer">
				<ul>
					<li><a href="/criar-tarefa">Criar tarefa</a></li>
					<li><a href="/pendentes">Pendentes</a></li>
					<li><a href="/realizados">Realizadas</a></li>
					<li><a href="/">Todas as Tarefas</a></li>
				</ul>	
			</div>

			<div id="tarefasContainer">
				<%for(i = 0; i < tarefas.length; i++){  %>
					<article id="tarefa-<%=tarefas[i].id%>" class="tarefa">
						<div class="tarefa-nome">
							<%=tarefas[i].tarefa%>
						</div>

						<div class="botoes">
							<button class="lixo" onclick="button.remove('<%=tarefas[i].id%>')" ><i class="fas fa-trash-alt"></i></button>
							
							<%if(tarefas[i].realizada == 0){%>
								<button onclick="taskHTML.changeHTML('<%=tarefas[i].id%>')" ><i class="fas fa-edit"></i></button>
								<button onclick="button.check('<%=tarefas[i].id%>')"><i class="fas fa-check-square"></i></button>
							<%}%>
						</div>
					</article>
				<%}%>	
			</div>

		</section>
	</body>

	<script src="js/script.js"></script>
</html>